@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

.container1 {
  background-image: url("../assets/images/rect.png");
  width: 100%;
  /* margin: 50px 0; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card1 {
  margin: 1.8rem;
  width: 15rem;
  height: 7rem;
  min-width: 15rem;
  padding: auto;
  text-align: center;
  background: #082A91;
  border-radius: 10px;
  transition: 0.3s;
}



.card1:hover{
  margin-top: 20px;
}

/* .card-img{
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  display: block;
  color:#082A91;
} */

.card-info{
  display: block;
  font-size: 14px;
  color: #FFFFFF;
}
