
.key-card {
    margin: 2rem;
    width: 17rem;
    height: 8rem;
    min-width: 17rem;
    align-items: left;
    text-align: left;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 3px 3px 10px #e7e7e7;
  }

  .key-card img{
      width: 80px;
      height: 80px;
      border-radius: 10%;
      margin: -40px 0 10px 10px;
  }

  .key-card h5{
      margin-left: 10px ;
  }
  .key-card p{
      margin-left: 10px;
  }