.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  background: white;
  padding: 0 1rem;
  z-index: 5;
}

/* main {
  margin-top: 5rem;
} */

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
    top:20px
  }
}