.img-div{
    text-align: right;
    background-image: url("https://images.unsplash.com/photo-1468787737698-f5c03f0570dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1488&q=80");
    height: 670px;
    width: 100%;
    margin: 100px 0 0 0;
    background-size: cover;
    background-position: center;
    
    
}
.Para{
    margin-top:180px;
    margin-bottom:0;
    width: 100%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5FFE1;
    font-size:18px;
    position:relative;
    
}


.img-content{
    width: 30%;
    height: 70%;
    position: relative;
    left: 60%;
    right: 10%;
    top: 20%;
    text-align: left;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.img-content h1{
    font-size: 2.7rem;
    line-height: 3.2rem;
    color: azure;
    
   
}
.img-content h2{
    color: azure;
}
.img-content h3{
    font-size: 1.2rem;
    line-height: 3.2rem;
    padding-bottom: 10px;
    color: azure;
}
.img-content p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #ffffff;
}

@media(max-width: 968px) {
    .img-div{
        text-align: center;
        align-items: center;
        height: 600px;
        color: azure;
    }
    .img-content{
        text-align: center;
        align-items: center;
        width: 60%;
        height: 70%;
        position: relative;
        left: 20%;
        right: 10%;
        top: 20%;
        text-align: left;
        color: azure;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
    }
    
.img-content h1{
    font-size: 2rem;
    line-height: 2.2rem;
    color: azure;
}
.img-content h3{
    font-size: 1rem;
    line-height: 2.2rem;
    padding-bottom: 10px;
    color: azure;
}
.img-content p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-top: 15px;
    padding-bottom: 20px;
    color: azure;
}
}