@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-div{
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.key-people{
    width: 43rem;
    margin-left: 50px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: white;
}
@media (max-width:320px){
  .key-people{
    margin: 0;
  }
}
  .benefits{
      width: 50%;
      display: block;
      text-align: left;
      align-items: center;
  }

  .benefits h1{
      margin: 8% 20% 4% 15%;
  }

  .benefits p{
      text-align: justify;
      margin: 0 20% 10% 15%;
  }

  @media only screen and (max-width: 968px){
    .benefits{
      width:100%;
    }
  }


