.link-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
   
}

 @media only screen and (max-width:600px){
     .link-bar{
         margin-bottom:50px;
        }
 }

.links{
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 30px;
    text-align: center;
    align-items: center;
}

.links a{
    display: inline-block;
    margin: 2px 15px;
    text-align: center;
    color: black;
    flex-direction: column;
    font-weight: semi-bold;
    text-decoration: none;
}