.about{
    margin-top: 250px;
}

.about_title{
    text-align: center;
    width:80%;
    margin: 20px 10%;
}

.about_title h1{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.about_body{
    width:50%;
    text-align: justify;
    margin: 0 25% 10% 25%;
}

.about_footer{
    width: 100%;
    background-color: rgb(235, 242, 243);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.about_footer h2{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom:50px;
}

.about_footer img{
    width: 300px;
    height: 170px;
    margin: 0 3% 50px 3%;
}

@media screen and (max-width:760px){
    .about_body{
        width:80%;
        text-align: justify;
        margin: 0 10% 10% 10%;
    }
    .about_title h1{
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
    }
    .about_footer img{
        width: 250px;
        height: 130px;
        margin-bottom: 50px;
    }
}
