.main{
    background-color:"#F3F6FA";
    height:auto;
    width:"auto";
   
}
.main1{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom:70px;
    margin-top:182px;
    width:100%;
     
    
    
}
@media (max-width:600px){
        .main1{
            flex-direction:column;
            display:flex;
            justify-content:center;
            align-items: center;
        }

    }
/* .img-container{
    background-image: url("./assets/images/image1.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;

} */
.content{
    backdrop-filter: blur(8px);
    color: black;
    position: absolute;
    
    
}

.text-main{
        text-align:center;
        top:100px;
        position: relative;
        font-size:"30px";
        display:block;
}
.text-main > p{
   
    margin-top: 20px;
    font-size:15px;
}


.news_tendor{
    color:#ffffff;
    position:relative;
    width:20rem;
    height:auto;
    margin:10% 10rem 10% 15%;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    bottom:2rem;
    
}


.news_tendor > p{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        padding:10px;
        text-align:center;
        color: white;
        background-color:#082A91;
}


.news_tendor > a{
        display: flex;
        padding:10px 20px;      
}


.Container{
    position:relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  
}
@media (max-width:600px){
        .Container{
            flex-direction:column;
            width: 100%;
            display: flex;
            justify-content:center;
            
        }
        
    }
    @media (max-width:600px){
        .cardImg{
               margin-left: 0px;
               margin-top: 0px;
        }
    }
.cardImg{
    background-color:#eee;
    width: 340px;
    height: 185px;
    margin: 20px auto;
}
.faded{
    position: absolute;
    width: 340px;
    height: 45px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    justify-content:center;
    display:flex;
    align-items:center;
    color:#ffffff;
    border-radius:0 0 10px 10px;
    margin-top:140px;
    
}
span{
    color:black;
    font-family:mulish;
    font-weight: 400px;
    font-size:12px;
    margin: 20px 0 0 0;
}
.Links{
    display:flex;
    flex-direction: column;
    padding: 0;
    
}